/* css */

body { 
    font-family: Helvetica, sans-serif;
    background: linear-gradient(to bottom, white, #d9d9d9);
    color: black;
    height: 150vh;
}

/*----------------------------------------------------------------------------------------------------------------------*/

.hi {
  font-size: 35px;
  font-weight: bolder;
  transform: translate(0px,0px);
}

/*------------------------------------------------------------*/

.name {
  font-weight: bolder;
  white-space: nowrap;
  transform: translate(0px,0px);
}

.namef {
  color: black;
  font-size: 125px;
  display: inline-block;
}

.namel {
  color: gray;
  font-size: 100px;
  display: inline-block;
  animation-name: opacity;
      animation-duration: 2s;
      animation-iteration-count: infinite;
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/*------------------------------------------------------------*/

.intro {
  position: relative;
  transform: translate(0px,0px);
  font-size: 35px;
  font-weight: lighter;
  white-space: nowrap;
}
.intro_outline {
  margin: 0px;
  display: inline-block;
}
.intro_outline:before {
  content: "I'm a passionate";
  left: 0;
}
.intro_outline:after {
  content: "currently pursing a Bachelors of Design at the University of Washington, Seattle.";
  right: 0;
}
.intro_outline:after, .intro_outline:before {
  position: relative;

/*technically couldnt i just put text before and after the content? Instead of a before/after outline property*/


}
.intro_content {
  display: inline-block;
  overflow: hidden;
  height: 40px;
  margin: -8px;
  padding-left: 10px;
  padding-right: 12px;
}

.intro_content_container {
position: relative;
overflow: hidden;
}

.intro_content_container_list {
padding: 0px;
margin: 0px;
text-align: left;
list-style: none;
animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.intro_content_container_list_item {
margin: 0px;
}

@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

/*----------------------------------------------------------------------------------------------------------------------*/